In [ ]:
print ("Hello World!")

In [ ]:
x = 5
y = 6

In [ ]:
x+y

In [6]:
import pandas as pd

In [7]:
import csv

In [8]:
df = pd.read_csv ("D:\Rotman\Academic\Term 3\Python\Capstone\Bank.csv")
df.head(5)

,Age,Experience,Income,Branch Address,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard,Advisor Name,Advisor Designation,Advisor Branch Addresses
0,50,24,11,234 Blue Spring Rd.,4,0.6,0,0,0,0,0,1,Carolin Whitmire,PFP,234 Blue Spring Rd.;533 Hillcrest Street;94 Co...
1,31,7,173,218 S. Westport Court,1,6,0,0,0,0,1,0,Marylee Bristow,PFP,218 S. Westport Court;9587 SW. Jefferson Stree...
2,41,16,10,9834 East Pineknoll Ave.,2,0.3,0,0,0,0,1,0,Corazon Eastin,PFP,336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...
3,53,27,44,7330 West Grand St.,4,1.5,0,0,0,0,0,0,Beatriz Rolf,PFP,7330 West Grand St.;91 Lake Court;7041 East Ma...
4,29,5,33,36 Kent Court,1,1.8,78,0,0,0,1,0,Zofia Rambo,PFP,40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.

In [11]:
df1 = df[["Age", "Income"]]

In [13]:
df1

      Age  Income
0      50      11
1      31     173
2      41      10
3      53      44
4      29      33
...   ...     ...
4494   57      43
4495   62      19
4496   29      53
4497   42      43
4498   60      38

[4499 rows x 2 columns]